.container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    max-width: 940px;
}
.wrapper {
    background-color: white;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.languages {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    justify-content: right;
    max-width: 940px;
    margin: 0 auto;
}
.language__item {
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-right: 4px;
    transition: all .5s ease;
}
.language__linck {
    color: #5f5f5f;
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    padding: 0 10px;
    transition: all .5s ease;
}
.language__item:last-child {
    margin-right: 0;
    @media only screen and (max-width: 980px) {
        margin-right: 20px;
    }
}
.language__item.active,
.language__item:hover {
    background-color: #5f5f5f;
}
.language__item.active .language__linck,
.language__item:hover .language__linck {
    color: white;
}
.header__lincks {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 40px;
    @media only screen and (max-width: 480px){
        flex-direction: column;
        padding-bottom: 14px;
        margin-top: 45px;
    }
}
.header__logo {
    min-width: 318px;
    height: 100px;
    border-radius: 50%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -13px;
    z-index: 2;
    @media only screen and (max-width: 480px) {
        border-radius: 0;
        margin: 0;
        padding-top: 20px;
        min-width: auto;
    }
}
.logo__block {
    width: 275px;
    height: 72px;
    border-radius: 50%;
    background-color: #969696;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 480px) {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
.logo__linck {
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
}
.logo__img {
    display: none;
    width: 100%;
    transition: all .5s;
}
.logo__block:hover .logo__text {
    display: none;
}
.logo__block:hover .logo__img {
    display: block;
}
.lincks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 20px;
}
.linck__item {
    flex: 1 0 175px;
    display: flex;
    @media only screen and (max-width: 480px) {
        flex: 100%;
        padding: 6px 0;
    }
}
.linck__item:nth-child(3n+3){
    padding-left: 30px;
    @media only screen and (max-width: 980px) {
        padding-left: 0;
    }
}
.linck__item:nth-child(3n+1){
    padding-left: 10px;
    @media only screen and (max-width: 980px) {
        padding-left: 0;
    }
}
.linck__linck{
    text-transform: uppercase;
    color: #333333;
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
}
.linck__item::before {
    content: url(../images/dip.png);
    padding-right: 7px;
    margin-top: -3px;
}
.linck__linck:nth-child(3n+3)::before {
    content: url(../images/dip.png);
    padding-left: 40px;
    margin-left: 40px;
}
.linck__item:hover::before {
    content: url(../images/dip-rgb.png);
}
.linck__linck:focus,
.linck__linck:hover {
    color: #23c4ec;
}
