.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.product {
  margin: 10px 0;
}
.product:nth-child(n+5){
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
.product__linck {
    display: block;
    width: 140px;
    height: 100px;
    background-color: #6f6f6f;
    @media only screen and (max-width: 480px) {
      width: 210px;
    }
}
.product__linck:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
a.more__products {
  display: none;
  text-align: center;
  margin: 0 auto;
  color: #006c86;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px dashed #006c86;
  @media only screen and (max-width: 480px) {
    display: block;
  }

}

